.body {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;

    .group {
      display: flex;
      flex-direction: column;
      gap: 16px;
      border: 1px dashed var(--gray200);
      border-radius: 8px;
      padding: 16px;
      background-color: var(--gray25);

      &-header {
        font-size: 14px;
        font-weight: 600;
      }

      .field {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .value {
          font-size: 16px;
          font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
            monospace;
        }
      }

      .error-text {
        font-size: 12px;
        color: #c0392b;
      }
    }

    .coming-soon {
      border-style: dashed;
      align-items: center;
      font-size: 16px;
      font-style: italic;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    width: 600px;

    .alert {
      width: inherit;
    }
  }
}
