.body {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  overflow-x: hidden;

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;

    .group {
      display: flex;
      flex-direction: column;
      gap: 8px;
      max-width: 600px;
      background-color: var(--gray25);

      &-header {
        font-size: 14px;
        font-weight: 600;
      }

      .field {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .value {
          font-size: 16px;
          font-style: italic;
        }
      }

      .connected {
        display: flex;
        flex-direction: row;
        gap: 4px;
      }
    }

    .coming-soon {
      border-style: dashed;
      align-items: center;
      font-size: 16px;
      font-style: italic;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    width: 600px;

    .alert {
      width: inherit;
    }
  }
}
